<div style="background-color: lime;">

  {% case icon %}
    {% when 'instagram' %}
     {% render 'icon-instagram' %}
    {% when 'tiktok' %}
     {% render 'icon-tiktok' %}
    {% when 'twitter' %}
      {% render 'icon-twitter' %}
   
  {% endcase %}

</div>